apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  variant: Calico
  calicoNetwork:
    linuxDataplane: Iptables
    bgp: Disabled
    clusterRoutingMode: Felix
    mtu: {{ calico_mtu }}
    nodeAddressAutodetectionV4:
      kubernetes: NodeInternalIP
    ipPools:
      - cidr: {{ kubernetes_pod_cidr }}
        blockSize: 26
        encapsulation: VXLAN
        natOutgoing: Enabled
        nodeSelector: "all()"
---
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}
