apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kubeadm_join_endpoint }}"
    token: "{{ kubeadm_join_token }}"
    caCertHashes:
      - "{{ kubeadm_join_ca_hash }}"
nodeRegistration:
  name: "{{ ansible_facts.hostname }}"
  criSocket: "{{ kubernetes_cri_socket }}"
  imagePullPolicy: IfNotPresent
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ tailscale_ipv4 }}"
    - name: node-labels
      value: "platform={{ kubernetes_node_platform }},role={{ kubernetes_node_role }},topology.kubernetes.io/region={{ kubernetes_node_region }},node.kubernetes.io/instance-type={{ kubernetes_node_instance_type }}"
{% if kubernetes_node_provider_id | length > 0 %}
    - name: provider-id
      value: "{{ kubernetes_node_provider_id }}"
{% endif %}
