[defaults]
inventory = inventories/aws/aws_ec2.yaml
roles_path = roles
collections_path = .collections
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
# sudo를 사용하는 여러 태스크가 같은 SSH 연결을 재사용한다.
pipelining = True
